@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
.meal { min-height:30px;}
#leftPanel {
}
#rightPanel{
}
.day {
}
.buttons, .calories, .diners {
    display: table-cell;
    padding: 0 2px;
}
.meal .panel-footer {}
.panel-body.over {
  border: 2px dashed #000;
}