<!doctype html>
<html lang="en" data-ng-app="FamChefMaster">
<head>
	<meta charset="UTF-8">
	<title>Family Chef Master</title>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/famchef-angular.js"></script>
	<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Menu</a>
          <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="themes" href="#" data-toggle="dropdown" class="dropdown-toggle">Option <span class="caret"></span></a>
              <ul aria-labelledby="themes" class="dropdown-menu">
                <li><a href="../default/">Options</a></li>
                <li class="divider"></li>
                <li><a href="../amelia/">Options</a></li>

              </ul>
            </li>
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
            <li class="dropdown">
              <a id="download" href="#" data-toggle="dropdown" class="dropdown-toggle">Download <span class="caret"></span></a>
              <ul aria-labelledby="download" class="dropdown-menu">
                <li><a href="#">Option</a></li>
                <li><a href="#">Option</a></li>
                <li class="divider"></li>
                <li><a href="#">Option</a></li>
                <li><a href="#">Option</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="#">Options</a></li>
            <li><a target="_blank" href="#">Options</a></li>
          </ul>

        </div>
      </div>
    </div>
	<div class="container" data-ng-controller="MainController">
		<div id="banner" class="page-header">
	        <div class="row">
	          <div class="col-lg-6">
	            <h1>Family Chef Master</h1>
	            <p class="lead">App for everyday meals</p>
	          </div>
	        </div>
	      </div>
			<div class="bs-docs-section">
				<div class="row">
					<div class="col-lg-4">
				        <div class="bs-component">
				          <ul class="list-group">
				            <li data-ng-repeat="meal in meals" class="list-group-item" draggable="true" ondragstart="drag(event)"  id="drag{{$index}}">
				                <span class="badge">{{meal.calories}}</span>
				              	{{meal.title}}
				              	<div class="descript">{{meal.description}}</div>
				            </li>
				          </ul>
				        </div>
				    </div>
					<div id="rightPanel" class="col-lg-8">
						<div data-ng-repeat="day in days" class="row day {{day.name}}">
							<h4>{{day.name}}</h4> 
							<div class="col-lg-4">
								<div class="meal breakfast panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">
											{{day.breakfastName}}
										</h3>
									</div>
									<div id="{{day.name}}meal01" class="panel-body"></div>
									<div class="panel-footer">
										<div class="diners">5</div>
										<div class="calories"></div>
										<div class="buttons">
											<button class="btn btn-info btn-xs" type="button">Detalles</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="meal lunch panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">
											{{day.lunchName}}
										</h3>
									</div>
									<div id="{{day.name}}meal02" class="panel-body"></div>	
									<div class="panel-footer">
										<div class="diners">5</div>
										<div class="calories"></div>
										<div class="buttons">
											<button class="btn btn-info btn-xs" type="button">Detalles</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="meal supper panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">
											{{day.supperName}}
										</h3>
									</div>
									<div id="{{day.name}}meal03" class="panel-body"></div>
									<div class="panel-footer">
										<div class="diners">5</div>
										<div class="calories"></div>
										<div class="buttons">
											<button class="btn btn-info btn-xs" type="button">Detalles</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<script type="text/javascript" src="js/famchef-functions.js"></script>
</body>
</html>